<!DOCTYPE html>
<html>
<head>
    <title>Add Booking</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Add Booking</h1>
        <form method="POST">
            <div class="form-group">
                <label>Passenger Name:</label>
                <input type="text" name="passenger_name" class="form-control">
            </div>
            <div class="form-group">
                <label>Flight Number:</label>
                <input type="text" name="flight_number" class="form-control">
            </div>
            <div class="form-group">
                <label>Departure Date:</label>
                <input type="date" name="departure_date" class="form-control">
            </div>
            <div class="form-group">
                <label>Departure Time:</label>
                <input type="time" name="departure_time" class="form-control">
            </div>
            <div class="form-group">
                <label>Destination:</label>
                <input type="text" name="destination" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Add Booking</button>
        </form>
        <a href="/" class="btn btn-secondary mt-3">Back</a>
    </div>
</body>
</html>
